*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    max-width: 100%;
}
.navbar img {
    max-width: 100px;
}
#kidsIcon {
    max-width: 30px;
}
footer, #profile {
    width: 50%;
    margin: auto;
}

footer a {
    font-size: 10px;
}
#footerP {
    font-size: 10px;
}

#righe, #grid {
    margin-block: 2px;
}